<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WiangtaiMemberApp.Web</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">

    <!-- Site -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WiangtaiMemberApp.Web.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Links", required: false)
</head>
<body class="hold-transition sidebar-mini @(@ViewData["Title"] == "Dashboard" ? "dark-mode layout-fixed layout-navbar-fixed layout-footer-fixed" : "")">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        <!-- Preloader -->
        <!-- Navbar -->
        @Html.Partial("~/Views/Shared/Partial/Navbar.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <span class="ml-3 brand-text font-weight-light">
                    <strong>Member</strong>&nbsp;App
                </span>
            </a>
            <!-- /.brand-logo -->
            <!-- Sidebar -->
            @Html.Partial("~/Views/Shared/Partial/Sidebar.cshtml")
            <!-- /.sidebar -->
        </aside>
        <!-- /.main-sidebar-container -->
        <!-- Content Wrapper Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            @if (ViewBag.Breadcrumbs != null)
                            {
                                <ol class="breadcrumb float-sm-right">
                                    @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
                                    {
                                        if (breadcrumb.Active)
                                        {
                                            <li class="breadcrumb-item active"><a asp-controller="@breadcrumb.Controller" asp-action="@breadcrumb.Action">@breadcrumb.Text</a></li>
                                        }
                                        else
                                        {
                                            <li class="breadcrumb-item" aria-current="page">@breadcrumb.Text</li>
                                        }
                                    }
                                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                                </ol>
                            }
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <!-- Content Fluid -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.main-content -->
        </div>
        <!-- /.content-wrapper-contain-page-content -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/Partial/Footer.cshtml")
        <!-- /.main-footer -->
    </div>

    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/adminlte/dist/js/demo.js"></script>*@
    <!-- Site -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

